<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-TwG1XMLhyLe3NVX_HdajIVNci3yLycrIyw&s" type="image/x-icon">
</head>
<body>
<!-- Header -->
<header>
    <div class="logo">
        <img src="../imagenes/Logojafs.png" alt="Logo de JafsPadel League" width="100" height="100">
    </div>
     <nav>
        <a href="../index.html" class="enlace">Inicio</a>
        <a href="presupuestos.html" class="enlace">Presupuestos</a>
        <a href="./sobre-nosotros.html" class="enlace">Sobre Nosotros</a>
        <a href="../index.html#formulario-registro" class="boton">Crear Usuario</a>
    </nav>
</header>

<!-- Checkbox para animaciones -->
<input type="checkbox" id="animacion">

<!-- Primera Sección: Información -->
<section class="presupuestos">
    <h1>Información</h1>
    <div class="contenedor-presupuestos">
        <div class="volveratras">
            <label for="animacion">
            <img src="../imagenes/arrow-left-svgrepo-com.svg">
            </label>
        </div>
        <div class="infoprecios">
            <img src="https://media.istockphoto.com/id/1517476333/es/foto/pareja-feliz-hablando-mientras-juega-dobles-mixtos-en-p%C3%A1del.jpg?s=612x612&w=0&k=20&c=M1isox_hFpfzA3p1xsjV4PMy4cxgyMUVZ-hyVRDlJgE=" alt="foto pistas de padel" width="550" height="500">
                <div class="txtprecios">
                    <p>No te preocupes mas por tu dinero, aqui podras encontrar multiples tarifas para poder disfrutar de todos nuestros servicios con precios que no te dejarán indiferente. <br> <br> <br>Elije los horarios que mas se adapten y escoje la tarifa perfecta para adaptar y mejorar tu estilo de vida tanto deportiva como economica.</p>
                </div>
        </div>
        <div class="volveratras">
            <label for="animacion">
                <img src="../imagenes/arrow-right-svgrepo-com.svg">
            </label>
        </div>
    </div>
</section>

<!-- Segunda Sección: Tarejtas y precios -->
<section class="seccion-tarjetaspeq">
        <h2>Tarifas y Precios</h2>
        <div class="tarjetas">
            
            <div class="volveratras">
                <label for="animacion">
                    <img src="../imagenes/arrow-left-svgrepo-com.svg">
                </label>
            </div>

        <div class="contenedor-tarjetas">
            <div class="tarjeta tarpeq">
                <h3>Reservas de Pista</h3>
                <img src="https://www.tupadelvalencia.com/Images/p/01/Public/picanya.jpg" alt="foto de una pista de padel">
                <div class="contenido-tarjetapeq">
                    <div class="etiquetaprecio">
                        <h5>Niños:</h5><h6>1h.</h6><p>15€</p>
                    </div>
                    <div class="etiquetaprecio">
                        <h5>Adultos:</h5><h6>1h.</h6><p>22€</p>
                    </div>
                </div>
            </div>
            
            <div class="tarjeta tarpeq">
                <h3>Torneos</h3>
                <img src="https://img.freepik.com/fotos-premium/jugador-tenis-padel-raqueta-atleta-raqueta-padel-cancha-deporte-colores-neon_881647-691.jpg?semt=ais_hybrid" alt="chica Jugando padel">
                <div class="contenido-tarjetapeq">
                    <div class="etiquetaprecio">
                        <h5>Niños:</h5> <p>20€</p>
                    </div>
                    <div class="etiquetaprecio">
                        <h5>Adultos:</h5> <p>25€</p>
                    </div> 
                </div>
            </div>
            
            <div class="tarjeta tarpeq">
                <h3>Bonos</h3>
                <img src="https://resasports.com/wp-content/uploads/2023/08/maximizar-ocupacion-pistas-de-padel-scaled.jpg" alt="pista con pelotas de padel">
                <div class="contenido-tarjetapeq">
                    <div class="etiquetaprecio">
                        <h5>Niños:</h5> <h6>10Partidas</h6><p>30€</p>
                    </div>
                    <div class="etiquetaprecio">
                        <h5>Adultos:</h5> <h6>10Partidas</h6><p>50€</p>
                    </div>
                </div>    
            </div>
                
            <div class="tarjeta tarpeq">
                <h3>Clases con profesor</h3>
                <img src="https://elements-resized.envatousercontent.com/envato-dam-assets-production/EVA/TRX/3c/e7/2d/d7/91/v1_E11/E11L19A.jpg?w=500&cf_fit=scale-down&mark-alpha=18&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark4.png&q=85&format=auto&s=b38a4889a91ec9b65e8d81606ab0251d83d31336115b514562144eb79993917c" alt="Dos jugadores de padel chocandose la mano">
                <div class="contenido-tarjetapeq">
                    <div class="etiquetaprecio">
                        <h5>Niños:</h5><h6>1h.</h6> <p>15€</p>
                    </div>
                    <div class="etiquetaprecio">
                        <h5>Adultos:</h5><h6>1h.</h6><p>22€</p>  
                    </div>
                </div>
            </div>
        </div>
            <div class="volveratras">
                <label for="animacion">
                    <img src="../imagenes/arrow-right-svgrepo-com.svg">
                </label>
            </div>
        </div>  
</section>


</main>
   <!-- Footer -->
<footer>
    <p>&copy; 2024 JafsPadel League | Todos los derechos reservados</p>
    <ul class="redes-sociales">
        <li><a href="http://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
        <li><a href="http://www.twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://www.instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="http://www.whatsapp.com" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="http://www.tiktok.com" aria-label="TikTok"><i class="fab fa-tiktok"></i></a></li>
    </ul>
</footer>

</body>
</html> 