<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre-nosotros</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-TwG1XMLhyLe3NVX_HdajIVNci3yLycrIyw&s" type="image/x-icon">
</head>
<body>
<!-- Header -->
<header>
    <div class="logo">
        <img src="../imagenes/Logojafs.png" alt="Logo de JafsPadel League" width="100" height="100">
    </div>
     <nav>
        <a href="../index.html" class="enlace">Inicio</a>
        <a href="./presupuestos.html" class="enlace">Presupuestos</a>
        <a href="sobre-nosotros.html" class="enlace">Sobre Nosotros</a>
        <a href="../index.html#formulario-registro" class="boton">Crear Usuario</a>
    </nav>
</header>

<main>

<!-- Flecha/enlace para volver al header -->
     <a href="#"><img class="arrowcircle" src="../imagenes/arrow-circle-up-svgrepo-com.svg" alt="Flehca Volver arriba" width="40" height="40"></a>

<!-- Sección Sobre Nosotros -->
<section class="sobre-nosotros">
    <div class="instalaciones">
        <h2>Sobre Nosotros</h2>
        <div class="contenido">
            <p>En nuestro club de pádel, ofrecemos una experiencia única para todos los amantes de este deporte.Contamos con instalaciones modernas, torneos emocionantes, clases con entrenadores profesionales y una cafetería acogedora para disfrutar después de cada partido. ¡Únete a nuestra comunidad y descubre tu pasión por el pádel!</p>
        </div>            

        <h2>Nuestras Instalaciones</h2>
        
        <div class="galeria">
            <img src="../imagenes/98.webp" alt="Pista de pádel moderna">
            <img src="../imagenes/ndoor-padel-training-elevate-skills-for-players-2024-10-18-09-41-09-utc-RXAItqog35Ft6cDf1AeBt1O-1200x840@diario_abc.webp" alt="Cafetería acogedora">
            <img src="../imagenes/evitar-les-lesions-habituals-al-padel-1-scaled.jpg" alt="Entrenador dando clase">
            <img src="../imagenes/Pourquoi-couvrir-une-piste-de-padel.jpg.webp" alt="Vista aérea del club">
            <img src="../imagenes/Modelos-de-cesped-artificial-para-padel-3.avif" alt="Zona de descanso">
            <img src="../imagenes/158877-1920x1200-desktop-hd-tennis-wallpaper-image.jpg" alt="Ilumi../nación nocturna en las pistas">
            <img src="../imagenes/d92a6f86a374a189726acf0a0a67e56b_1400x400x1x2.jpg" alt="Iluminación nocturna e../n las pistas">
            <img src="../imagenes/images (1).jpeg">
        </div>
    </div>
</section>

  <!-- Sección Contacto -->
    <section class="formu">
        <h2>Contáctanos</h2>
    
        <form action="#" method="POST" class="mensaje">
            <div class="campo-formulario">
                <label >Escribe tu nombre:</label>
                <input type="text" name="nombre" placeholder="Tu Nombre" required>
            </div>

            <div class="campo-formulario">
                <label >Escribe tu correo:</label>
                <input type="email" name="email" placeholder="Tu Correo Electrónico" required>
            </div>

            <label class="campo-formulario" style="color: #fff;">Mandanos tu mensaje:</label>
            <div class="terminos">
                <textarea name="mensaje" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
            </div>    

            <div class="botones-formulario">
                <button class="boton" type="submit" style="font-size: 0.65rem;">Enviar Mensaje</button>
                <button class="boton" type="reset" style="font-size: 0.65rem;">Borrar</button>
            </div>
            
        </form>

        <div class="direccion">
            <p><strong>Teléfono:</strong> +34 676 824 826</p>
            <p><strong>Correo Electrónico:</strong> info@clubjafspadel.com</p>
            <p><strong>Dirección:</strong> Calle Pádel 62, Pol.Industrial La Cabayata,Valencia, España</p>
            <img src="https://joomly.net/frontend/web/images/googlemap/google-mapa.png" alt="mapa con cordenadas" width="400" height="400">
        </div>
    </section>

</main>

<!-- Footer -->
<footer>
    <p>&copy; 2024 JafsPadel League | Todos los derechos reservados</p>
    <ul class="redes-sociales">
        <li><a href="http://www.facebook.com" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
        <li><a href="http://www.twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://www.instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="http://www.whatsapp.com" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="http://www.tiktok.com" aria-label="TikTok"><i class="fab fa-tiktok"></i></a></li>
    </ul>
</footer>
</body>

</html> 